@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

.home-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    background-color: var(--background-color);
}

.Mainbody {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.rightSide {
    height: 550px;
    width: 100%;
    display: flex;

    justify-self: end;
    justify-content: right;
}

.leftSide {
    height: 500px;
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
}

.rightSide img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    cursor: default;
}

.name {
    font-family: "Kanit";
    font-weight: 600;
    font-size: 70px;
    position: relative;
    text-align: center;
    padding: 0;
    word-spacing: 2px;
    margin-top: 130px;
    letter-spacing: 2px;
    text-wrap: wrap;
}

.hi {
    font-family: "Lacquer", system-ui;
    font-size: 80px;
    position: fixed;
    font-weight: 500;
    top: 10%;
    left: 10%;
}

.description {
    position: fixed;
    left: 25%;
    bottom: 25%;
    font-size: medium;
    font-weight: 100;

}

.name span {
    margin-top: -25px;
    position: absolute;
    display: inline;
}